RewriteEngine On
RewriteBase /public/

<IfModule mod_rewrite.c>
    # Izinkan akses ke file statis
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Forward semua route ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

# Disable directory listing
Options -Indexes
